// override BS5 variables and add custom variables
$font-family-header:"Namdhinggo", serif;
$font-family-text:"Poppins", sans-serif;
$dark-yellow:#D29F1E;
$black: #161618;
$light-yellow:#FED053;
$white:#FCFDFF;
$light-black: #2d2d2d;
$header-footer-color:#111111;

// change the 'primary' and 'danger' color and add 'purple'
$primary: #1E2328;
$secondary: #D29F1E;

$danger: #FED053;
$purple: #800080;
