// basic layout of all pages
@mixin color-combo($front:$white,$back:$black){
  color:$front!important;
  background-color: $back!important;
}


body {
  background-color: $black;
}
p{
  color: $white;
}
#logo{
  width: 90px;

}
.navbar{
  background-color: $header-footer-color !important;
}
.nav-link{
  color: $white;
  font-family: $font-family-header;
  &:hover,&:focus,&:active{
    border-top: 2px solid $light-yellow!important;
    color: $dark-yellow!important;
  }
}
.nav-pills{
  li{
    justify-self: center!important;
  }
}
.pic{
  img{
    max-width: 95%;
  }
}
.footer-below{
  background-color: $header-footer-color;
}

@include media-breakpoint-up(md){
  .footer-above{
    background: url("../assets/Home_assets/footer_bg.png") center no-repeat;
    //background-image:url("footer_bg.png");
  }

}
