.student4 {
  // r0959598
  // Name student 4: zeeshanmehmood
}
@mixin color-main($primary,$secondary){
  color:$secondary!important;
  background-color: $primary!important;
}
@mixin color-secondary($primary,$secondary){
  color: $primary!important;
  background-color: $secondary!important;
}
//now playing page scss
#hero_section{
  height: 300px;
  background-image: url("../../src/assets/student4/Nowplaying.png");
  background-size: cover;
  background-position:  top right;
  button{
    border-radius: 100px;
    flex: 0 1 185px !important;
  }
  button:first-of-type{
    @include color-main($black,$secondary);
    border: 2px solid $secondary;
    &:hover{
      @include color-main($white,$black);
    }
  }
  button:last-of-type{
    @include color-secondary($white,$secondary);
    &:hover{
      @include color-main($white,$secondary);
      border: 2px solid $secondary;
    }
  }

}
.single-movie{
  p{
    i,span{
      color: $light-yellow;
    }
  }
  a{
    border: 1px solid $secondary;
    border-radius: 10px;
    transition: 0.5s;
  }
  .trailer-btn{
    @include color-main(#000,$white);
    &:hover,&:focus,&:active{
      @include color-main($black,$white);
      i{
        color:$white!important;
      }
    }

  }
  .time-btn{
    @include color-main($light-black,$white);
    &:hover,&:focus,&:active{
      @include color-main(#000,$white);
      i{
        color:$white!important;
      }
    }

  }
}
.side-bar{
  h4{
    border-bottom: 2px solid $secondary;
  }
}

.top-movie{
  background-color: $light-black;
  span{
    color: $light-yellow;
  }
}

.card-design{
  width: 230px;
  height: 285px;

  img{
    transition: filter 0.3s ease;
    border-radius: 10px;
  }
  &:hover{
    img{
      filter:brightness(50%);
      transform: translateY(-10px);
    }
    .overlay{
      opacity:1;
    }
  ;
  }
}
.overlay {
  position: absolute;
  width: 175px;
  top: 82%;
  left: 52%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  i{
      color: $secondary;

  }
  i.fa-solid.fa-play{
    color:$white;
  }
  button{
    &:first-of-type{
      @include color-secondary($white,$secondary);
    }

    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
//membership page scss





@include media-breakpoint-up(md){
  #hero_section{
    height: 400px;
  }
  .overlay{
    width: 90px;
    top:50%;
    left:54%;
  }
}
@include media-breakpoint-up(lg){
  .overlay{
    width: 175px;
    top: 82%;
    left: 54%;

  }
}
